@import "variables";

#features {
  .sub-header {
    color: $gray;
    margin-bottom: 50px;
  }

  .row {
    margin-top: 30px;
  }

  .col-md-4 {
    position: relative;
    padding-left: 60px;
    text-decoration: none;

    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
    }

    p {
      color: inherit;
    }
  }

  svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 10px;
    fill: $darkGray;
  }

  .col-md-4:hover {
    h3 {
      color: $primary;
    }

    svg {
      fill: $primary;
    }
  }

  .features-icon {
    position: absolute;
    top: 0px;
    left: 10px;

    img {
      opacity: 0.7;
      height: 30px;
    }
  }

  p.features-copy {
    color: $black;
    font-size: 15px;
  }
}
