@import "pygments";
@import "variables";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $fontSans;
  color: $darkGray;
}

body {
  color: $gray;
  font-family: $fontSans;
  font-size: 16px;
}

.navbar-header,
.navbar-default {
  background-color: #fff;
}

@media (max-width: 992px) {
  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding: 8px;
  }
}

.content {
  padding-top: 20px;
}

@import "markdown";
@import "components";
@import "pricing";
@import "docs";
@import "features";
@import "blog";
@import "site";
@import "terminal";
@import "plugins";
@import "d3";
@import "mobile";
@import "search";
@import "quickstarts";
