@import "bootstrap-custom";
@import "pygments";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  // font-family: "Open Sans", sans-serif;
  color: #205081;
}

body {
  color: #707070;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.navbar-header, .navbar-default {
  background-color: #fff;
}

.content {
  padding-top: 20px;
}

@import "components";
@import "pricing";
@import "docs-menu";

dt {
  margin-bottom: 6px;
}

dd {
  line-height: 1.6;
  margin-bottom: 21px;
}

ol {
  margin: 0 0 1.5em 2em;
  padding: 0;
  counter-reset: item;

  > li {
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-position: outside;
    list-style-type: none;
    counter-increment: item;
  }

  > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
  }
}

pre {
  border: none;
  background-color: inherit;
}

i.fa.header-anchor {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
}

i.fa.code-anchor {
  display: inline-block;
  margin-left: 7px;
  font-size: 16px;
  color: #205081;
}

.jumbotron {
  color: #205081;
  background-color: #ecf0f1;
  margin-bottom: 30px;
  padding: 50px 0;

  h1, .h1 {
    font-size: 58px;
    font-weight: 300;
  }

  p, .p {
    color: #707070;
  }

  pre {
    color: #fff;
    display: inline-block;
    background-color: #282c34;
    font-size: 24px;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-fixed-top {
  min-height: 100px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 72px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

 .navbar-brand img {
  margin-top: -5px;
  padding-bottom:0px;
  height: 45px;
}

.navbar-nav > li > .marketing-header--link
{
    padding:8px 10px
}

.navbar-nav > li > .marketing-header--link--primary
{
    border:1px solid #67ab49;
    border-radius:4px;
    color:#67ab49;
    display:inline-block;
    font-weight:500;
    line-height: 2;
    margin-top: 18px;
}
.marketing-header--link--primary:hover
{
    background-color:#67ab49 !important;
    color:#fff !important;
}

.marketing-header--item
{
    display:inline-block;
    font-size:14px;
    margin-right:0px;
    padding-top:10px
}

.marketing-cta-button
{
    background-color:#67ab49;
    border:none;border-radius:4px;
    box-shadow:none;
    color:#fff;
    display:inline-block;
    font-size:18px;
    padding:10px 15px;
    margin-top: 15px;
    text-decoration: none !important;
}

.marketing-cta-button:focus,.marketing-cta-button:hover
{
    background-color:#14892c;
    color:#fff;
    text-decoration:none !important;
}

.marketing-section--heading
{
    font-size:32px;
    text-align:center
}
.marketing-section--tagline
{
    font-size:18px;
    margin:20px auto 0 auto;
    width:75%;
    text-align:center
}

.marketing-feature-showcase--screenshot
{
    vertical-align:bottom;
    border:1px solid #d7d7d7;
    border-radius: 5px;
    margin: 15px 0;
}

.marketing-feature-showcase--heading
{
    font-size:24px;
    margin-top:30px;
    text-align:left;
}
.marketing-feature-showcase--description
{
    margin-top:15px;
    text-align:left;
}
.marketing-feature-showcase--row
{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    margin-top:40px
}

.marketing-feature-showcase--column
{
    margin-right:30px;
}

footer {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color:#ecf0f1;
    font-size: 13px;
}

ul.list-inline {
    margin-top: 0;
    margin-bottom: 10px;
}
footer ul.quicklinks {
    margin-bottom: 0;
    text-align: center;
    list-style-type: none;
    text-transform: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
}

ul.social-buttons {
    margin-bottom: 0;
}



ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #2C3E50;
}

footer span.copyright {
    text-transform: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
}

.homepage-testimonial
{
    background-position:left top;
    background-size:cover;
    background-repeat:no-repeat;
    margin-top: 25px;
    margin-bottom: 50px;
}

.pricing-testimonial
{
    background-image:url(../img/mymarket.JPG);
    background-position:left top;
    background-size:cover;
    background-repeat:no-repeat;
    margin-top: 25px;
    margin-bottom: 50px;
}

.marketing-testimonial
{
    background-color:#48C6F2;
    color:#fff;
    padding:50px 0;
    letter-spacing: 0.1em;
}
.marketing-testimonial--content
{
    width:100%;
}
.marketing-testimonial--quote
{
    font-family:Georgia,serif;font-size:24px;
    font-style: italic;
    line-height:1.7;
}
.marketing-testimonial--attribution
{
    text-transform:uppercase;
    font-size: 16px;
    display: block;
    margin: 5px 0 0;
}

.marketing-testimonial--quote:before
{
    display: block;
    font-size: 80px;
    font-family: serif;
    position: absolute;
    left: -30px;
    top: -35px;
    content: "\201C";
}


.marketing-testimonial--attribution:before
{
    content: "\2014 \2009";
}

.marketing-plans--heading
{
    font-size:45px;
    margin-top:20px
}
.marketing-plans--content
{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    margin:50px auto 0 auto;
}
.pricing-table
{
    margin-top: 25px;
}

.marketing-plans--fine-print
{
    font-size:14px;
    margin-top:20px
}
.marketing-plans--secondary-link
{
    display:block;
    margin-top:50px
}
.marketing-plans--users
{
    color:#707070;
    margin-top:20px;
    height: 50px;
}

.marketing-plans--dollar
{
    display:inline-block;
    font-size:40px;
    position:relative;
    top:-15px
}
.marketing-plans--price
{
    font-size: 64px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.content h1:first-child {
  margin-top: 0;
}

.content p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.content ol, .content ul {
  margin-bottom: 15px;
}

.content li {
  line-height: 1.6;
  margin-bottom: 6px;
}

.content table {
  margin-bottom: 20px;
}

.feature-last
{
    margin-bottom:50px;
}
.features-comparison
{
    padding:60px 0
}
.features-comparison--table
{
    margin-top:80px;
    width:100%
}
.features-comparison--feature-header-cell,.features-comparison--header-cell
{
    color:#205081;
    font-family:Montserrat,sans-serif
}
.features-comparison--feature-header-cell
{
    font-size:30px
}
.features-comparison--header-cell
{
    border:2px solid #eee;
    font-size:14px;
    text-transform:uppercase;
    width:35%;
    text-align:left;
    vertical-align:middle
}
.features-comparison--cell,.features-comparison--feature-cell,.features-comparison--feature-header-cell,.features-comparison--header-cell
{
    padding:15px 30px;
    vertical-align:middle
}
.features-comparison--row:nth-child(2n-1)
{
    background-color:#f5f5f5
}
.features-comparison--cell,.features-comparison--feature-cell
{
    border:2px solid #eee
}
.features-comparison--cell
{
    text-align:left
}
.features-comparison--footnotes
{
    font-size:14px;
    margin-top:20px;
    text-align:right
}
.features-footer
{
    padding-bottom:70px;
    text-align:center
}
.features-footer--heading
{
    font-size:24px;
    margin-top:30px
}
.features-footer--cta
{
    margin-top:30px
}
.features-footer--logo
{
  width: 300px;
  display: inline-block;
  vertical-align: middle;
}
.legal-header
{
    margin-top:0px;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:110px;
    width:228px;
  }
}

#sidebar {
  margin-top: 10px;

  li {
    margin: -5px 0;
  }

  li.active > a {
    color: #707070;
    font-weight: bold;
  }
}

.docs-info-box
{
    background-color:#f5f5f5;
    color: #707070;
    border: 1px solid #f5f5f5;
}

.no-scroll
{
    overflow-y: scroll;
    overflow-x:hidden;
}

.post-preview {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #d7d7d7;

  > p {
    margin-top: 10px;
  }
}

#post p.publish-date {
  font-style: italic;
}

#post h1 {
  font-size: 32px;
  line-height: 40px;
}

#post h2, h3, h4 {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 10px;
}

#post h2 {
  font-size: 25px;
  margin-top: 34px;
}

#post h4, #post h5, #post h3 {
  font-size: 22px;
  margin-top: 30px;
}

#post .blog-sidebar h3 {
  margin-top: 10px;
  font-size: 18px;
}

#post .blog-sidebar hr {
  margin: 10px 0;
}

#post table {
  border-collapse: collapse !important;
  width: 100%;

  td, th {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
  }

  td > code {
    line-height: 28px;
  }
}

div.alert {
  font-size: 14px;
  border-radius: 3px;
  line-height: 1.6;
  padding: 15px;
}

div.alert > p:last-child {
  margin-bottom: 0;
}

div.alert.warning {
  color: #613A00;
  background-color: #ffe3c8;
  border: 1px solid #dca874;
}

div.alert.tip {
  color: #264c72;
  border: 1px solid #97c1da;
  background-color: #d8ebf8;
}

div.alert.footnote {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}

div.alert h3 {
  margin-top: 0 !important;
  font-size: 18px !important;
}

code {
  color: #205081;
  margin: 0 2px;
  padding: 2px 4px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}

td > code {
  border: none;
  color: inherit;
}

pre {
  height: auto;
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

pre > code {
  border: none;
}

li > pre {
  margin-top: 12px;
}

@import "terminal";
@import "d3";
@import "mobile";
