// Styling the HTML genertated by .md files

.markdown {
  color: #333333;

  p {
    line-height: 1.6;
    margin-bottom: 15px;
  }

  img {
    max-width: 100%;
  }

  ol,
  .content ul {
    margin-bottom: 15px;
  }

  ol {
    padding-left: 0;
    counter-reset: item;
  }

  ol li {
    display: block;
    list-style-position: outside;
    margin-left: 15px;
  }

  ol li:before {
    content: counter(item) ".  ";
    counter-increment: item;
    font-weight: bold;
  }

  li {
    line-height: 1.6;
    margin-bottom: 6px;
  }

  li > p:first-child {
    display: inline;

    > img {
      display: block;
      margin: 10px 0 20px 20px;
      margin-top: 10px;
      margin-left: 20px;
    }
  }

  h1 {
    font-size: 28px;
    font-weight: bold;
  }

  h2,
  h3,
  h4 {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 23px;
    margin-top: 34px;
    font-weight: bold;
  }

  h4,
  h5,
  h3 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
  }

  figure {
    margin-top: 20px;
    padding: 10px;
    border: solid 1px $gray;

    h4 {
      border: none;
      font-size: 16px;
      margin-top: 0;
      font-weight: 800;
    }
  }

  table {
    border-collapse: collapse !important;
    width: 100%;
    margin-bottom: 20px;

    td,
    th {
      background-color: #fff !important;
      border: 1px solid #ddd !important;
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
    }

    td > code {
      line-height: 28px;
    }
  }

  i.header-anchor {
    margin-left: 7px;
    color: $gray;
  }

  .option {
    > code {
      display: inline-block;
      margin-bottom: 7px;
      font-weight: bold;
      border: 1px solid #ddd;
      border-radius: 3px;
    }
  }
}
