// Styling the HTML genertated by .md files

.markdown {
  color: #333333;

  p {
    line-height: 1.6;
    margin-bottom: 15px;
  }

  ol, .content ul {
    margin-bottom: 15px;
  }

  li {
    line-height: 1.6;
    margin-bottom: 6px;
  }

  h2, h3, h4 {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 25px;
    margin-top: 34px;
  }

  h4, h5, h3 {
    font-size: 22px;
    margin-top: 30px;
  }

  table {
    border-collapse: collapse !important;
    width: 100%;
    margin-bottom: 20px;

    td, th {
      background-color: #fff !important;
      border: 1px solid #ddd !important;
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
    }

    td > code {
      line-height: 28px;
    }
  }

  i.header-anchor {
    margin-left: 7px;
  }

  .option {
    > code {
      display: inline-block;
      margin-bottom: 7px;
      font-weight: bold;
      border: 1px solid #ddd;
      border-radius: 3px;
    }
  }
}
