/*
Some overrides for small screens
*/
@media only screen and (max-width : 768px) {
  .navbar-default {
    position: relative;
    z-index: 1;
  }

  .navbar-collapse {
    background-color: #fff;
    padding: 0;
    margin: 0 -20px;

    .nav {
      display: flex;
      flex-direction: column;
      height: auto;
      margin: 0;

      > li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #eee;

        a {
          padding: 10px;
        }
      }

      .login-link {
        color: inherit !important;
        background-color: inherit !important;
      }

      > li.search-link {
        span {
          display: inline-block !important;
          margin-left: 8px;
        }
      }
    }
  }

  .jumbotron {
    h1.desktop {
      display: none;
    }
    h1.mobile {
      font-size: 38px;
      font-weight: 100;
      margin-top: 0;
      margin-bottom: 15px;
      padding-top: 34px;
      position: relative;
      display: block;

      img.jamstack {
        width: 120px;
        left: 227px;
      }
    }
  }

  .copyright {
    display: inline-block;
    margin-bottom: 20px;
  }

  .quicklinks {
    text-align: center !important;
  }

  .jumbotron.slack {
    .slack-logo {
      display: none;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .content {
    padding-top: 10px;
  }

  .navbar-brand {
    margin-left: 10px;
  }

  .marketing-testimonial--content {
    width: 100%;
  }

  #post h1 {
    font-size: 26px;
    line-height: 32px;
  }

  #post h2 {
    font-size: 18px;
    margin-top: 24px;
  }

  #post h4, #post h5, #post h3 {
    font-size: 16px;
    margin-top: 20px;
    line-height: 24px;
  }

  .jumbotron h1 {
    font-size: 38px;

    img.jamstack {
      position: absolute;
      top: 0;
      left: 180px;
      width: 150px;
    }
  }

  .jumbotron pre {
    font-size: 18px;
  }

  #pricing .marketing-plans--dollar {
    font-size: 28px;
    top: -5px;
  }

  #pricing .marketing-plans--price {
    font-size: 35px;
  }
}
