pre {
  border: none;
  background-color: inherit;
}

.bitbucket-alert {
  background-color: #3259B3;
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
  text-align: center;

  i {
    margin-right: 5px;
  }
  a {
    color: #fff;
    display: inline-block;
    margin-left: 5px;

    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }
}

.jumbotron {
  background-color: $linkBlue;
  padding: 20px 0 40px;
  color: $white;

  h1.desktop, h1 {
    font-size: 38px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 45px;
    position: relative;
    -webkit-font-smoothing: antialiased;

    img.jamstack {
      position: absolute;
      top: 0;
      left: 645px;
      width: 150px;
    }

    a {
      color: #fff;
    }
  }

  h1.mobile {
    display: none;
  }

  a.get-started-link {
    display: inline-block;
    font-size: 20px;
    background-color: $success;
    color: $white !important;
    border-radius: 4px;
    padding: 15px;
    margin: 15px;
    transition: background-color 200ms ease;

    &:hover {
      background-color: rgb(83, 221, 148) !important;
    }
  }

  p {
    font-size: 18px;
    margin: 10px 0 15px;
  }

  pre {
    color: #fff;
    display: inline-block;
    background-color: $primaryDark;
    font-size: 22px;
  }
}

.navbar {
  height: 55px;
  margin-bottom: 0;
}

.navbar-nav {
  height: 50px;
  display: flex;
  align-items: center;

  a.whats-new {
    i {
      color: #f91;
    }
  }
}

.login-link {
  background-color: $success;
  color: $white !important;
  border-radius: 4px;
  padding: 10px;
  transition: background-color 200ms ease;

  &:hover {
    background-color: rgb(83, 221, 148) !important;
  }
}

.navbar-nav > li > a {
  padding-top: 6px;
  padding-bottom: 8px;
  line-height: 1;
}

// Hide the label "Search" and just show the icon
.nav.navbar-nav.navbar-right .search-link span {
  display: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  width: 160px;

  @media (min-width: 992px) {
    width: 200px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.footer {
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;

  ul.quicklinks {
    margin-bottom: 0;
    text-align: center;
    list-style-type: none;
    text-transform: none;
    line-height: 20px;
    text-align: right;

    li {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .copyright {
    text-transform: none;
    line-height: 20px;
  }
}

.homepage-testimonial
{
    background-position:left top;
    background-size:cover;
    background-repeat:no-repeat;
    margin-top: 25px;
    margin-bottom: 50px;
}

.marketing-testimonial
{
    background-color:$linkBlue;
    color:#fff;
    padding:50px 0;
    letter-spacing: 0.1em;
}
.marketing-testimonial--content
{
    width:100%;
}
.marketing-testimonial--quote
{
    font-size: 24px;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.9px;
}
.marketing-testimonial--attribution
{
    text-transform:uppercase;
    font-size: 16px;
    display: block;
    margin: 5px 0 0;
}

.marketing-testimonial--quote:before
{
    display: block;
    font-size: 80px;
    font-family: serif;
    position: absolute;
    left: -30px;
    top: -35px;
    content: "\201C";
}


.marketing-testimonial--attribution:before
{
    content: "\2014 \2009";
}

.marketing-plans--heading
{
    font-size:45px;
    margin-top:20px
}
.marketing-plans--content
{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    margin:50px auto 0 auto;
}
.pricing-table
{
    margin-top: 25px;
}

.legal-header {
    margin-top:0px;
}

div.alert {
  font-size: 15px;
  border-radius: 3px;
  line-height: 1.6;
  padding: 15px;

  .header {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

div.alert > p:last-child {
  margin-bottom: 0;
}

div.alert.warning {
  color: #613A00;
  background-color: #ffe3c8;
  border: 1px solid #dca874;
}

div.alert.tip {
  color: #264c72;
  border: 1px solid #97c1da;
  background-color: #d8ebf8;
}

div.alert.footnote {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}

div.alert h3 {
  margin-top: 0 !important;
  font-size: 18px !important;
}

code, span.code {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 90%;
  color: #205081;
  background-color: #f8f8f8;
  // margin: 0 2px;
  // padding: 2px 4px;
  // border: 1px solid #ddd;
  // background-color: #f8f8f8;
  // border-radius: 3px;
}

td > code {
  border: none;
  color: inherit;
}

pre {
  height: auto;
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

pre > code {
  border: none;
}

li > pre {
  margin-top: 12px;
}
