.terminal-section {
  margin-top: -55px;
}

.terminal {
  width: 740px;
  height: 360px;
  margin: 0 auto;
  border: solid 2px $lightGray;
  border-top: solid 40px $lightGray;
  border-radius: 4px 4px 0 0;
  position: relative;
  background-color: #272E39;
  color: $white;
  font-family: $fontMono;
  padding: 15px;

  pre {
    border: none;
    background-color: inherit;
    font-size: 16px;
    color: inherit;
    border: none;
    padding: 0;

    code {
      display: inline-block;
      color: #fff;
    }

    code.prompt {
      margin-right: 10px;
      color: #707070;
    }

    code.cursor {
      background-color: #fff;
      display: inline-block;
    }
  }

  .typed-cursor {
    background-color: #fff;
    // animation: cursorBlink 0.7s infinite;
  }

  .spinner {
    display: block;
  }

  .spinner:after {
  	content:"_";
    color: #fff;
  	animation: terminalSpinner .4s infinite;
  }

  .learn-more {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #29d029;
    cursor: pointer;
  }
}

.terminal::before {
  display: block;
  position: absolute;
  top: -27px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-color: #FF6159;
  border-radius: 16px;
  box-shadow: 0 0 0 0 #FF6159, 22px 0 0 0 #FFBD2E, 44px 0 0 0 #28CA42;
  content: "";
}

.generatorMenuText {
  margin: 10px 0 0;
}

.generatorMenu {
  display: flex;

  > ul {
    display: flex;
    padding: 0;
    margin: 20px auto;

    li {
      list-style: none;

      a {
        position: relative;
        padding: 10px;
        display: block;
        height: 100%;
        border-bottom: 2px solid $lightGray;
        background-color: $white;
        border-radius: 4px 4px 0 0;
        transition: background-color 150ms ease;

        &:hover {
          background-color: $offWhite
        }

        & > i.fa {
          position: absolute;
          right: 10px;
          bottom: 10px;
          font-size: 10px;
        }

        & > i.fa-play-circle-o {
          display: none;
        }
      }

      &.active {
        a {
          border-color: $linkBlue;
        }
      }

      &.inactive {
        opacity: 0.3;
      }
    }
  }

  img {
    max-width: 140px;
    height: auto;
  }
}

@keyframes cursorBlink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@keyframes terminalSpinner {
	0% {
    content: "-"
	}
	25% {
		content: "\\";
	}
	50% {
		content: "|";
	}
	75% {
		content: "/";
	}
	100% {
		content: "-";
  }
}
