<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <div class="container">
      {{ range $index, $post := .Data.Pages.ByPublishDate }}
        {{ if eq (mod (sub $index 1) 3) 0 }}<div class="row">{{ end }}
        <div class="col-md-3">
          <a href="{{ $post.Permalink }}">
            <h3>{{ $post.Title }}</h3>
            <p>{{ $post.Description }}</p>
          </a>
        </div>
        {{ if eq (mod (add $index  1) 3) 0 }}</div>{{ end }}
      {{ end }}
    </div>
    {{ partial "footer.html" . }}
    {{ partial "google-analytics.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>
