<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <div class="container">
      <div class="row">
        <ul>
          {{ range .Data.Pages.ByPublishDate }}
            <li class="post-preview">
              <a class="h3" href="{{ .Permalink }}">{{ .Title }}</a>
              <p>{{ .Description }}</p>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "google-analytics.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>
