<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <div class="container">
      <h1>Blog</h1>

      <div class="blog-list">
        {{ range $index, $post := (where .Data.Pages ".Params.hidden" "ne" "true") (sort .Data.Pages.ByPublishDate)}}
          {{ if in (seq 0 3 100) $index }}<div class="row">{{ end }}
          <div class="col-md-4">
            <a href="{{ $post.Permalink }}" class="blog-item">
              <h3>{{ $post.Title }}</h3>
              {{ if $post.Date }}<div class="date">{{ $post.Date.Format "Monday, Jan 2, 2006" }}</div>{{ end }}
              <p>{{ $post.Description }}</p>
            </a>
          </div>
          {{ if in (seq 2 3 100) $index }}</div>{{ end }}
        {{ end }}
      </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "google-analytics.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>
