<footer class="footer">
	<div class="container">
		<hr />
		<div class="row">
			<div class="col-md-4">
				<span class="copyright">Copyright <a href="/">Aerobatic LLC</a> 2017</span>
			</div>
			<div class="col-md-4">
				<ul class="list-inline">
          {{ range .Site.Params.social }}
  					<li>
  						<span class="fa-stack fa-lg">
                <a href="{{ .url }}">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-{{ .title }} fa-stack-1x"></i>
                </a>
              </span>
  					</li>
					{{ end }}
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="quicklinks">
					<li><a href="/contact">Contact</a></li>
					<li><a href="/legal">Legal</a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>
    </div>
  </div>
</footer>
