<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="/site.js"></script>

<!-- AddThis social sharing -->
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5699b7eff327a474" async="async"></script>

<!-- Bootstrap collapse.js & transiiton.js for mobile menu -->
<script type="text/javascript" src="https://unpkg.com/bootstrap@3.3.7/js/collapse.js" async="async"></script>
<script type="text/javascript" src="https://unpkg.com/bootstrap@3.3.7/js/transition.js" async="async"></script>