<!-- Pricing Section -->
<section id="pricing" class="container">
  <h1 class="text-center">Pricing</h1>
  <p class="text-center pricing-copy">We encourage users to try the free plan until they are ready for production, and expierence all there is to Aerobatic without any risk. If you have any questions about the Aerobatic platform, or are looking for additional enterprise features, please <a href="mailto:support@aerobatic.co" ref="Aerobatic Support">contact us</a>.</p>
  <div class="pricing-plans">
    <div class="plan">
      <header>
        <h3>Free Plan</h3>
        <p>Kick the tires to get a sense for how Aerobatic works.</p>
      </header>
      <ul>
        <li>Unlimited deployments to<br/>https://<strong>your-site-name</strong>.aerobatic.io</li>
        <li>Global CDN</li>
        <li>Aerobatic CLI + Dashboard</li>
        <li>Use of all plugins</li>
        <li>Deploy stages</li>
        <li>10GB/day data transfer out</li>
      </ul>
      <footer>
        <a class="btn btn-success" href="/docs/getting-started">Get Started Now</a>
      </footer>
    </div>
    <div class="plan">
      <header>
        <h3>Pro Plan</h3>
        <p>For when you're ready to go live.</p>
        <div class="price">
          <sup class="currency">$</sup><h2>15</h2><span class="period">/mo</span>
        </div>
      </header>
      <ul>
        <li>All free plan features plus:</li>
        <li>Use your own domain name</li>
        <li>Wildcard SSL for your custom domain</li>
        <li>500 GB / month data transfer out</li>
        <li>Priority support</li>
      </ul>
      <footer>
        <a class="btn btn-success" href="/docs/getting-started">Get Started Now</a>
      </footer>
    </div>
  </div>
  <!-- <h3 class="text-center">Personal and Academic sites</h1>
  <p class="text-center pricing-copy">If your website is for personal or academic purposes you may qualify for our "Powered By" program which provides all the benefits of the Pro Plan but we'll waive the subscription cost. You just need to render one of our Powered By logos in your site footer linked back to www.aerobatic.com. If you're interested in participating, just drop us a line at <a href="mailto:support@aerobatic.co" ref="Aerobatic Support">support@aerobatic.com</a> and include the URL of your aerobatic.io site.</p> -->
</section>
