<!-- Pricing Section -->
<section id="pricing" class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2 col-xs-12">
      <div class="plan">
        <h3>Free Plan</h3>
        <p>Kick the tires to get a sense for how Aerobatic works.</p>
        <ul>
          <li>Unlimited deployments</li>
          <li>Deploy stages in the form <code>https://sitename--test.aerobatic.io</code></li>
          <li>Global CDN</li>
          <li>SSL on a <code>https://sitename.aerobatic.io</code> domain</li>
          <li>10GB / day data transfer out</li>
        </ul>
        <a class="btn btn-success" href="/docs/getting-started">Get Started</a>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="plan">
        <h3>Pro Plan</h3>
        <p>Start with the free plan and upgrade when you are ready for production.</p>
        <div class="price">
          <sup class="currency">$</sup><h2>15</h2><span class="period">/mo</span>
        </div>
        <ul>
          <li>Unlimited deployments</li>
          <li>Global CDN</li>
          <li>SSL for your custom domain, i.e. <code>https://yourdomain.com</code> domain</li>
          <li>Deploy stages, i.e. <code>https://test.yourdomain.com</code></li>
          <li>500 GB / month data transfer out</li>
        </ul>
      </div>
    </div>
  </div>
</section>
