---
layout: base
title: About Aerobatic - the team and our values
description: Here's a bit more about who we are and what we're all about
---

<div class="container legal-header">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1> Team </h1>
			<p>We're a small, but mighty team out of Seattle, WA. Say hi to us on Twitter!</p>
		</div>
  	</div>
  	<!--Team -->
  	<div class="row">
  	{% include team.html %}
	</div>
	<div class="row">
		<div class="col-lg-12  text-center">
		  	<h1> Our Values </h1>
		  	<p> This is what we're all about. Whether we're small or enormous, these are the things that will always be true of Aerobatic and how we work.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
		  	{% include values.html %}
		</div>
	</div>
</div>
