---
title: Legal
description: These documents outline our positions on various legal and policy matters related to hosting your static website with Aerobatic
---

<div class="container legal-header">
	<div class="row">
		<h1>Legal</h1>
		<p>
		If you're not seeing what you're looking for, or have any questions, you can check out our <a href="https://aerobatic.atlassian.net/wiki/display/AKB/Aerobatic+Knowledge+Base">Knowledge Base</a>, catch us on <a href="https://twitter.com/aerobaticapp">Twitter</a>, or drop us an <a href="mailto:support@aerobatic.com">email</href>.</p>
	</div>
	<div class="row">
		<ul>
			<li><a href="/legal/tos/">Terms of Service</a></li>
			<li><a href="/legal/aup/">Acceptable Use</a></li>
			<li><a href="/legal/privacy/">Privacy</a></li>
			<li><a href="/legal/copyright/">Copyright</a></li>
			<li><a href="/legal/sla/">Service Level Agreement</a></li>
		</ul>
	</div>
</div>
