<div class="container">
  <h1 class="text-center">Features</h1>
  <div class="row">
    <div class="col-md-4 text-center">
      <h3>Global distribution</h3>
      <div class="features-icon"><img src="img/icon/globe.svg" alt="Globe"/></div>
      <p class="features-copy">Each deployment is replicated to multipe AWS regions and fronted by the CloudFront CDN with nodes around the world. Give all your visitors a fast experience, no matter where they're at.<a class="learn-more" href="/docs/overview/#performance">Learn more  &#8594;</a></p>
    </div>
    <div class="col-md-4 text-center">
      <h3>Secure by default</h3>
      <div class="features-icon"><img src="img/icon/lock.svg" alt="Lock"/></div>
      <p class="features-copy">All padlocks, all the time. SSL is mandatory and we automatically redirect HTTP to HTTPS. Beef up security further with optional OWASP recommended headers.<a class="learn-more" href="/docs/overview/#security">Learn more &#8594;</a></p>
    </div>
    <div class="col-md-4 text-center">
      <h3>Deploy like a Pro</h3>
      <div class="features-icon"><img src="img/icon/cloud_upload.svg" alt="Deploy"/></div>
      <p class="features-copy">It's as simple as "aero deploy" in your terminal. Deployments are atomic, cache invalidation and rollbacks near instantanaeous. Harness the power of deploy stages to run test instances on unique sub-domains.<a class="learn-more" href="/docs/overview/#deployment">Learn more &#8594;</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <h3>Hook it up to CI</h3>
      <div class="features-icon"><img src="img/icon/continuous-deployment.svg" alt="Continuous Deployment"/></div>
      <p class="features-copy">Easily integrate Aerobatic into your build pipeline using the Aerobatic CLI. Automatically deploy to various stages each time you push to your source repo.<a class="learn-more" href="/docs/continuous-deployment/">Learn more &#8594;</a></p>
    </div>
    <div class="col-md-4 text-center">
      <h3>Go further with Plugins</h3>
      <div class="features-icon"><img src="img/icon/plug.svg" alt="Plugins"/></div>
      <p class="features-copy">Plugins are server modules declared in your aerobatic.yml file that enhance the capabilities of your static site. Redirects, password protection, http proxy, custom errors, just to name a few.<a class="learn-more" href="/docs/configuration/#plugins">Learn more &#8594;</a></p>
    </div>
    <div class="col-md-4 text-center">
      <h3>Little things Done Right</h3>
      <div class="features-icon"><img src="img/icon/checklist.svg" alt="Checklist"/></div>
      <p class="features-copy">Cache headers, pretty URLs, trailing slashes, gzip compression, HTTP/2, enforcing SSL &mdash; there's a lot of details to get right. Let us take care of the minutiae so you can focus on great websites.<a class="learn-more" href="/docs/static-serving/">Learn more &#8594;</a></p>
    </div>
  </div>
</div>
